<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">

	<resultMap id="userMap" type="org.yl.vo.User">
		<id property ="id" column="id"  />
		<result property="username" column="username" />
		<result property="password" column="password" />
	</resultMap>
	
	<!-- 通过用户名查询用户 -->
	<select id="selectUserByUsername" parameterType="string" resultType="org.yl.vo.User">
		select id,username ,password from sys.end_user where username = #{username} 
	</select>

	<!-- 插入用户 -->
	<insert id="insertUser" parameterType="org.yl.vo.User" useGeneratedKeys="true" keyProperty="id">
		insert into sys.end_user(username,password) values(#{username},#{password})
	</insert>
	
	<!-- 删除用户 -->
	<delete id="deleteUser" parameterType="string" >
		delete from sys.end_user where username = #{username}
	</delete>
	
	<!-- 查询用户 -->
	<select id="selectUsers" parameterType="int" resultMap="userMap">
		select id,username ,password from sys.end_user limit 0,#{maxSize}
	</select>

</mapper>

